<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Immunology</a>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/']">Clinical Development Pipeline <span class="sr-only">(current)</span></a>
    </li>
  </ul>
  <ul class="my-2 my-lg-0">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Boehringer Ingelheim</a>
      </li>
    </ul>
  </ul>
</nav>